
.body{
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: auto;
    margin: 0;
}
.block{
    justify-self: center;
    justify-content:center;
    justify-items: center;
    align-content: center;
    width: 19vw;
    height: 100vh;
}
.block .parent{
   box-shadow: 0px 0px  50px rgba(0, 0, 0, 0.733); 
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-items: center;
   background-color: rgb(0, 24, 59);
   border-radius: 10px;
}
.parent .child1{
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    display: flex;
    height: 76%;
    width: 90%;
    border-radius:10px;
    text-align: end;
    font-size: xx-large;

}
.parent .line{
    
    display: flex;
    width: 90%;
    height:15.3%;
    justify-content: space-between;
    align-self: center;
   
}
 button{
     border-radius: 10px;
     align-self: center;
     width: 4.5em;
     height: 3.8rem;
     font-weight: 600;
     border: none;
     box-shadow: 0px 0px 10px rgb(0, 0,0,0.1);
     background-color: rgb(12, 34, 68);
     color: white;
     border: none;

}
button:hover{
    background:rgba(36, 113, 228, 0.432);
}
button i{
    font-size:small;
}

@media(max-width:768px){
   body{
      margin: 0;
    }
    .block{
        width: 100%;
        justify-self: center;
        align-content: end;
        background-color: rgb(0, 24, 59);
    }
    .block .parent{
        
        height: 70%;
        box-shadow: 0px 0px  0px ;
    }
    input{
      
        border: none;
        background-color: rgb(0, 24, 59);
        color: white;
    }
    
}
@media(min-width:769px) and (max-width:1024px){
    body{
      margin: 0;
    }
    .block{
        width: 100%;
        justify-self: center;
        align-content: end;
        background-color: rgb(0, 24, 59);
    }
    .block .parent{
        
        height: 70%;
        box-shadow: 0px 0px  0px ;
    }
    input{
        border: none;
        background-color: rgb(0, 24, 59);
        color: white;
        width: 85%;
    }
     button{
        width: 6em;
        height: 5.3rem;
     }
    .parent .line{
        justify-content: space-evenly;
    }
}